.about-us {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
  }

  &__item {
    padding: 10px 17px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    background-color: $aqua-color;
    border-radius: 5px;
  }

  &__item-name {
    width: max-content;
  }

  &__icon {
    margin-right: 12px;
    padding: 8px;
    display: flex;
    border-radius: 50%;
    background-color: $green-color;
  }

  &__svg {
    width: 24px;
    height: 24px;
  }
}
