.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  @include onTablet {
    flex-direction: column;
  }

  &__left-side {
    width: 100%;
    max-width: 590px;

    @include onTablet {
      width: 100%;
    }
  }

  &__right-side {
    padding: 59px 0 38px;
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 600px;

    @include onTablet {
      width: 100%;
      min-width: max-content;
    }
  }

  &__title {
    margin: 0 0 48px;
    font-size: 60px;
    font-weight: 700;

    &--highlight {
      color: $green-color;
    }

    @include onTablet {
      font-size: 32px;
    }
  }

  &__button {
    padding: 20px 42px;
  }

  &__img-wrapper {
    position: relative;
    width: 100%;
    max-width: 430px;

    @include onTablet {
      max-width: 260px;
    }
  }

  &__img-container {
    height: 100%;
    overflow: hidden;
    border-radius: 40px 40px 100px;

    @include onTablet {
      border-radius: 24px 24px 60px;
    }
  }

  &__img {
    width: 100%;
    height: auto;
    background-size: cover;
    transition: all 300ms ease-in-out;

    &:hover {
      transform: scale(1.1);
      transform-origin: top right;
    }
  }

  &__sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-color;
  }
}

.sticker {
  position: absolute;

  &__icon {
    margin-bottom: 3px;
    padding: 7px;
    background-color: $light-green-color;
    border-radius: 30px;
  }

  &__number {
    margin-bottom: 5px;
    color: $green-color;
    font-size: 24px;
    font-weight: 600;

    @include onTablet {
      font-size: 14px;
    }
  }

  &__description {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    font-weight: 500;

    @include onTablet {
      font-size: 7px;
      line-height: 14px;
    }
  }

  &__title {
    max-width: 214px;
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;

    &--highlight {
      color: $green-color;
      line-height: normal;
    }
  }

  &--left {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 18px 24px 12px;
    display: flex;
    align-items: normal;
    width: 262px;
    height: 187px;
    border-radius: 14px 14px 30px;
    box-shadow: 0 0 69.23px rgba(112, 112, 112, 0.25);
    box-sizing: border-box;
    transform: translate(-50%, -50%);

    @include onTablet {
      padding: 10px 13px 6px;
      width: 142px;
      height: 102px;
      border-radius: 7px 7px 16px;
    }
  }

  &--right {
    position: absolute;
    right: 0;
    bottom: 33px;
    padding: 15px 13px 8px;
    border-radius: 7px 7px 17px;
    max-width: 108px;
    height: auto;
    box-shadow: 0 0 42.7px rgba(112, 112, 112, 0.25);
    transform: translateX(15%);

    @include onTablet {
      max-width: 78px;
    }
  }

  &__img-wrapper {
    position: relative;
    left: 45%;
    transform: translateX(-50%);
  }

  &__img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/images/man.jpg");
    background-size: contain;

    @include onTablet {
      width: 27px;
      height: 27px;
    }

    @for $i from 1 through 6 {
      $width: 15 * $i;
      &--#{$i} {
        left: $width * 1%;

        @include onTablet {
          left: $width * 0.5%;
        }
      }
    }
  }
}
