.banner {
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: linear-gradient(to right, $light-green-color 20%),
    linear-gradient(to right, $aqua-color 90% 100%);

  @include onTablet {
    flex-direction: column;
  }

  &__right-side {
    padding: 59px 0 38px;
  }

  &__wrapper {
    width: 590px;

    @include onTablet {
      width: 300px;
    }
  }

  &__title {
    margin: 0 0 48px;
    font-size: 60px;
    font-weight: 700;

    &--highlight {
      color: $green-color;
    }

    @include onTablet {
      font-size: 32px;
    }
  }

  &__img {
    position: relative;
    width: 430px;
    height: 508px;
    border-radius: 40px 40px 100px;
    background-image: url("../images/woman.jpg");
    transition: background-size 300ms ease-in-out;

    &:hover {
      background-position: top;
      background-repeat: no-repeat;
      background-size: 120%;
    }
  }

  &__sticker {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white-color;
  }
}

.sticker {
  position: absolute;

  &__icon {
    margin-bottom: 3px;
    padding: 7px;
    background-color: $light-green-color;
    border-radius: 30px;
  }

  &__number {
    margin-bottom: 5px;
    color: $green-color;
    font-size: 24px;
    font-weight: 600;
  }

  &__description {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
  }

  &__title {
    max-width: 214px;
    margin: 0 0 15px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;

    &--highlight {
      color: $green-color;
    }
  }

  &--left {
    position: absolute;
    bottom: 95px;
    left: -148px;
    padding: 18px 24px 12px;
    display: flex;
    align-items: normal;
    width: 262px;
    height: 188px;
    border-radius: 14px 14px 30px;
    box-shadow: 0 0 69.23px rgba(112, 112, 112, 0.25);
    box-sizing: border-box;
  }

  &--right {
    position: absolute;
    right: -20px;
    bottom: 33px;
    padding: 15px 13px 8px;
    width: 130px;
    border-radius: 7px 7px 17px;
    box-shadow: 0 0 42.7px rgba(112, 112, 112, 0.25);
  }

  &__img-wrapper {
    position: relative;
    left: 45%;
    transform: translateX(-50%);
  }

  &__img {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("/images/man.jpg");

    @for $i from 1 through 6 {
      $width: 15 * $i;
      &--#{$i} {
        left: $width * 1%;
      }
    }
  }
}
