.categories {
  position: relative;

  &__header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: start;

    @include onTablet {
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 32px;
    font-weight: 600;

    @include onTablet {
      max-width: 225px;
      font-size: 16px;
      font-weight: 500;
      line-height: 26px;
    }
  }

  &__button {
    padding: 0;
    margin: 0;
    width: 80px;
    color: $gray-color;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    background-color: $white-color;
    border: none;
    cursor: pointer;

    @include onTablet {
      font-size: 14px;
      font-weight: 400;
    }
  }

  &__card {
    position: relative;
    box-sizing: border-box;
    padding-left: 24px;
    width: 100%;
    height: 100%;
    min-height: 420px;
    background-color: lightgray;
    color: $white-color;
    overflow: hidden;
    transition: padding-top 300ms ease-in-out;
    z-index: 1;

    @include onTablet {
      margin: 0;
      padding: 0;
      height: auto;
      min-height: 152px;
      min-width: 116px;
      border-radius: 5px;
      margin-right: 16px;
    }

    @for $i from 1 through 4 {
      &--#{$i} {
        background-image: url("../images/category-#{$i}.jpg");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

  }

  &__card-text-wrapper {
    position: absolute;
    bottom: 0;
    transition: all 300ms ease-in-out;
    transform: translateY(80%);

    &:hover {
      transform: translateY(-10%);
      @include onTablet {
        transform: translate(-50%);
      }
    }

    @include onTablet {
      left: 50%;
      bottom: 50%;
      transform: translate(-50%, 0%);
    }
  }

  &__card-title {
    margin: 0 0 24px;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;

    @include onTablet {
      margin: 0;
      padding: 0;
      font-size: 14px;
    }
  }

  &__card-description {
    margin: 0;

    @include onTablet {
      display: none;
    }
  }

  &__slider-btn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 30px;
    border: transparent;
    border-radius: 50%;
    background-color: $white-color;
    background-image: url('/images/arrow.svg');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 300ms ease-in-out;
    z-index: 2;

    @include onTablet {
      display: none;
    }

    &--prev {
      left: 10px;
      transform: translateY(-50%);
    }

    &--next {
      right: 10px;
      transform: rotate(180deg) translateY(50%);
    }
  }
}
