.courses {
  &__header {
    margin-bottom: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include onTablet {
      margin-bottom: 24px;
    }
  }

  &__button {
    position: relative;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 400;
    background-color: $green-color;
    border: 1px solid transparent;
    border-radius: 50px;
    color: $white-color;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 300ms;

    @include onTablet {
      font-size: 12px;
      padding: 4px 8px;
    }

    &::before {
      content: "";
      margin-right: 8px;
      width: 20px;
      height: 20px;
      background-image: url("/images/arrow-w.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 32px;
    font-weight: 600;

    @include onTablet {
      font-size: 16px;
    }
  }

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-items: flex-start;

    @include onTablet {
      gap: 16px;
    }
  }

  &__course {
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(203, 203, 203, 0.25);
    overflow: hidden;

    @include onTablet {
      border-radius: 5px;
      flex-basis: 48%;
    }

    &-text-section {
      padding: 24px 24px 28px;

      @include onTablet {
        padding: 9px 17px;
      }
    }

    &-section-title {
      display: flex;
    }

    &-title {
      margin: 0 0 42px;
      width: 295px;
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      text-transform: capitalize;

      @include onTablet {
        margin: 0 0 4px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
      }
    }

    &-rating {
      height: min-content;
      display: flex;
      align-items: center;
      gap: 4px;

      @include onTablet {
        font-size: 8px;
      }
    }

    &-description {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center;

      @include onTablet {
        display: block;
      }
    }

    &-program {
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 500;

      @include onTablet {
        font-size: 12px;
        font-weight: 400;
      }
    }

    &-students {
      line-height: 24px;
      margin-left: 8px;

      &::before {
        content: "";
        margin-right: 8px;
        display: inline-flex;
        width: 15px;
        height: 15px;
        background-image: url("/images/students.svg");
        background-repeat: no-repeat;
        background-size: cover;
        scale: 1.3;

        @include onTablet {
          width: 12px;
          height: 12px;
        }
      }
    }

    &-price {
      color: $green-color;
      font-size: 24px;
      font-weight: 600;

      @include onTablet {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 12px;
      }
    }
  }
}
