.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  @include onTablet {
    height: 90px;
    gap: initial;
  }

  &__nav {
    transition: transform 300ms;


    @include onTablet {
      padding-top: 80px;
      justify-content: start;
      transform: translateY(-100%);

      &--active {
        transform: translateY(0);
      }
    }

    &--with-menu {
      position: absolute;
      transform: translateY(0);
    }
  }

  &__left-side-wrapper {
    display: flex;
  }

  &__right-side-wrapper {
    display: flex;

    @include onTablet {
      display: none;
    }
  }

  &__burger {
    display: none;
    width: 34px;
    margin-right: 12px;
    z-index: 10;

    @include onTablet {
      display: block;
    }
  }

  &__avatar {
    display: none;
    cursor: pointer;

    @include onTablet {
      display: block;
    }
  }

  &__search-img {
    margin-right: 14px;
    text-align: center;
    cursor: pointer;

    @include onTablet {
      display: none;
    }
  }

  &__buttons-wrapper {
    display: flex;
    gap: 8px;

    @include onTablet {
      display: none;
    }
  }
}

.logo {
  @include onTablet {
    z-index: 10;
  }
}
