.nav {
  width: 100%;
  background-color: $white-color;
  display: flex;
  justify-content: center;

  @include onTablet {
    position: absolute;
    height: max-content;
    width: 100%;
    &__list {
      flex-direction: column;
    }
  }

  &__cross {
    @include onTablet {
      &::after {
        content: "\00d7";
        position: absolute;
        display: block;
        right: 20px;
        top: 50px;
        color: $gray-color;
        width: 20px;
        height: 20px;
        transform: scale(2);
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    height: 48px;
    gap: 24px;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;

    @include onTablet {
      height: 300px;
      gap: 0;
    }
  }

  &__item-wrapper {
    position: relative;
    display: flex;
    flex: auto;
  }

  &__item {
    position: absolute;
    width: max-content;
    bottom: -100%;
    left: 50%;
    padding: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.5s;
    transform: translateX(-50%);

    &:hover {
      transform: translate(-50%, -100%);
    }

    @include onTablet {
      bottom: 0;

      &:hover {
        transform: translate(-50%, 0);
      }
    }

    &::before {
      content: attr(data-title);
      position: absolute;
      top: -40%;
      left: 50%;
      padding: 16px;
      font-weight: normal;
      width: max-content;
      transform: translate(-50%, -50%);
      transition: transform 0.3s;
    }

    @include onTablet {
      &::before {
        display: none;
      }
    }
  }

  &__link {
    color: $gray-color;
  }
}
