.nav {
  width: 100%;
  background-color: $white-color;
  display: flex;
  justify-content: center;

  @include onTablet {
    position: absolute;
    height: max-content;
    width: 100%;
    &__list {
      flex-direction: column;
    }
  }

  &__cross {
    @include onTablet {
      &::after {
        content: "\00d7";
        position: absolute;
        display: block;
        right: 20px;
        top: 50px;
        color: $gray-color;
        width: 20px;
        height: 20px;
        transform: scale(2);
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
    list-style-type: none;
    cursor: pointer;
    overflow: hidden;

    @include onTablet {
      gap: 0;
    }
  }

  &__item {
    position: relative;
    width: max-content;
    padding: 16px;
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-70%);
    }

    &::after {
      content: attr(data-title);
      position: absolute;
      top: 100%;
      left: 50%;
      width: max-content;
      font-weight: bold;
      transform: translateX(-50%);
      transition: transform 0.3s;
    }

    @include onTablet {
      &:hover {
        transform: none;
      }

      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: $gray-color;
  }
}
